<!-- <div class="bd-example">
    <ul class="bxslider">
        <li><img src="https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
        <li><img src="https://images.pexels.com/photos/4092132/pexels-photo-4092132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
        <li><img src="https://images.pexels.com/photos/4150135/pexels-photo-4150135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
    </ul>
</div> -->

<ul class="bxslider">
    <li><img src="https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
    <li><img src="https://images.pexels.com/photos/4092132/pexels-photo-4092132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
    <li><img src="https://images.pexels.com/photos/4150135/pexels-photo-4150135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></li>
</ul>